.info {
    padding: 50px 0;
    background: #000016;
    color:#fff;
    
    .info_title {
        color:crimson;
        position: relative;
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;
    }
    .info_subtitle {
        max-width: 180px;
        text-align: center;
        padding-bottom: 10px;
        margin: 0 auto 40px;
        border-bottom: 5px solid crimson;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        position: relative;
        color: crimson;
        
        &::after {
            content: '';
            width: 15px;
            height: 15px;
            background: crimson;
            position: absolute;
            bottom:-17px;
            border-radius: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
        
    }
    .info_content {
        
        
        .info_content_item {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            
            .info_content_context {
                max-width: 460px;
                
                h2 {
                    font-size: 30px;
                    line-height: 24px;
                    color:#fff;
                    margin: 0 0 20px 0;
                }
                .info_content_sub {
                    margin-top: 15px;
                    font-size: 16px;
                    line-height: 24px;
                }
                .info_content_subtitle {
                    font-size: 16px;
                    line-height: 24px;
                    color:#fff;
                    
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0 0 5px 0;
                    }
                }
                ul {
                    margin-top: 10px;
                }
                ul li {
                    font-size: 16px;
                    line-height: 20px;
                    color:#fff;
                    
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
            
            .info_content_image {
                width: 680px;
                height: 450px;
                object-fit: cover;
                overflow: hidden;
            }
            .moreInfo_btn {
                width: 200px;
                height: 50px;
                background: crimson;
                border-radius: 50px;
                margin: 100px 0 0 0;
                color:#fff;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}