.service {
    padding: 50px 0;
    background: #fff;
    
    .service_title {
        color:crimson;
        position: relative;
        font-size: 38px;
        font-weight: 800;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .service_subtitle {
        max-width: 180px;
        text-align: center;
        padding-bottom: 10px;
        margin: 0 auto 20px;
        border-bottom: 5px solid crimson;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        position: relative;
        color: crimson;
        
        &::after {
            content: '';
            width: 15px;
            height: 15px;
            background: crimson;
            position: absolute;
            bottom:-17px;
            border-radius: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
    .service_context {
     
        .service_info {
            text-align: center;
            max-width: 80%;
            margin: 40px auto 0;
            padding: 0 10px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
    }
    
}