.banner {
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgba(10, 10, 10, 0.2);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,17,52,0.9752275910364145) 52%, rgba(192,0,255,1) 100%);

    
    @media screen and(max-width: rem(767)) {
        
    }
    @media screen and(max-width: rem(575)) {
        
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    img {
        max-height: rem(652);
    }

    .banner_img {
    //   filter: brightness(0.6);
    z-index: -1;
    object-fit: cover !important;
    width: 100vw;  
     
    }
    
  }
  .banner_content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 70%;
    .banner_context {
        text-align: center;
        margin: 0 10px;
        .promo {
            font-size: 16px;
            text-transform: uppercase;
            color:rgb(133, 130, 130);
            margin-bottom: 20px;
        }
        h1 {
           font-size: 60px; 
           font-weight: 700;
           line-height: 56px;
           color: #ffff;
           max-width: 100%;
        }
        .write_goal {
           font-size: 16px;
           max-width: 600px;
           margin: 25px auto;
           color:rgba(212, 201, 201, 0.8);
           font-family: sans-serif;
           line-height: 24px;
        }
        .btns {
            margin-top: 50px;
        }
        .send_btn {
            width: 200px;
            height: 50px;
            background: rgb(34,195,34);
            color:#fff;
            border-radius: 50px;
            text-transform: uppercase;
            margin-right: 15px;
            font-weight: 700;
        }
        .see_btn {
            background: rgb(34, 77, 195);
            border-radius: 50px;
            height: 50px;
            width: 200px;
            color:#fff;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    
}
.extra_icon1 {
    position: absolute;
    right: 0px;
    left:80%;
    top: 20%;
    z-index: 10101010;
    animation: moving infinite ease-in-out 8s;
}
@keyframes moving {
   0% {
    left:20%;
    top: 10%;
   } 
   25% {
    left:40%;
    top: 20%;
   }
   50% {
    left: 60%;
    top: 35%;
   }
   75% {
    left:80%;
    top: 40%;
   }
   100% {
    right: 100%;
    top: 40%;
   }
}