.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 8;
    
    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
      display: flex;
      align-items: center;
        .menu_btn {
           width: 24px;
           
           .MuiButtonBase-root .MuiButton-root {
            display: none !important;
           }
        }
    }
    &_logo {
        font-size: 25px;
        line-height: 24px;
        color:#fff;
        text-decoration: none;
        font-weight: 700;
        
        span {
            color:red;
            font-weight: 700;
        }
    }
    .header_navigation {
        display: flex;
        align-items: center;
    }
    .navbar {
        display: flex;
        padding: 20px 10px;
        margin-right: 50px;
        .navbar_item {
            list-style: none;
            text-decoration: none !important;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:hover {
                
                p {
                   color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,17,91,1) 35%, rgba(0,212,255,1) 100%);
                   background: rgb(2,0,36);
                    font-weight: 400;
                }
            }
            
            p {
                font-size: 16px;
                color:rgb(255, 254, 254);
                line-height: 24px;
                font-weight: 400;
                transition: 0.8s ease;
                text-transform: capitalize;
            }
        }
    }
    .social {
        display: flex;
        align-items: center;
        
        .social_links {
            
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    
}
.menu_drawer {
    width: 300px;
    background: #fff;
    height: 100%;
    z-index: 999;
}