
.about {
    padding: 50px 0;
    color:rgb(20, 19, 19);
    
    .about_title {
        color:crimson;
        position: relative;
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;
    }
    .about_subtitle {
        max-width: 180px;
        text-align: center;
        padding-bottom: 10px;
        margin: 0 auto 20px;
        border-bottom: 5px solid crimson;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        position: relative;
        color: crimson;
        
        &::after {
            content: '';
            width: 15px;
            height: 15px;
            background: crimson;
            position: absolute;
            bottom:-17px;
            border-radius: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .about_content_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .about_content_image {
        max-width: 600px;
    }
    .about_info {
        max-width: 600px;
        // text-align: ju;
        h3 {
            font-weight: 700;
            font-size: 24px;
            text-align: justify;
            max-width: 400px;
            margin: 0 0 10px;
        }
        p {
            text-align: justify;
            max-width: 570px;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .info_btn {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        background: blue !important;
        color:#fff;
        text-transform: uppercase;
        margin: 40px auto 0;
        font-weight: 700;
    }
}